@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  box-sizing: border-box;
  background: #d6dcdeff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  font-family: "Open Sans", sans-serif;
  width: fit-content;
  background-color: rgba(38, 83, 125, 0.633);
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: aliceblue;
}
.container #music-image {
  width: 300px;
  height: 150px;
  margin: 15px auto;
  border-radius: 10px;
  object-fit: cover;
}
#music-details {
  align-self: flex-start;
  font-size: 15px;
  /* position: relative; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input#progressbar {
  margin: 15px auto 1px;
  width: 300px;
}
.times {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
#controls {
  width: 100%;
  margin-top: 18px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#volume-range {
  width: 80px;
}
.sound {
  display: flex;
}
.sound .fa-solid {
  font-size: 20px;
  margin-right: 5px;
}
.right-side .content .fa-circle-xmark {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.control-group {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.control-btn {
  margin-right: 20px;
}
.right-side {
  width: 0px;
}
.left-side {
  display: flex;
  padding: 10px;
  flex-direction: column;
  margin: 0px auto 10px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  border-right: 1px solid lightgray;
}
.music-list-text {
  background-color: #0077ff78;
  border-radius: 10px;
  padding: 1px 10px;
  transform: rotatez(90deg);
  margin-right: -40px;
  cursor: pointer;
}
.music-list-text .fa-bars {
  margin-right: 2px;
}
.music-list-text:hover {
  background-color: #0077ffa9;
}
.content {
  display: none;
}
